@model IEnumerable<MyReddit.Models.Post>


     <h2 class="text-dark">Salut <span class="text-warning">@ViewBag.Username</span></h2>
      <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Home/AddLink?username=@ViewBag.Username">Publier un lien</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Home/MyLinks?userid=@ViewBag.Userid">Voir mes liens</a>
            </li>
             <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/Home/Logout">Se déconnecter</a>
            </li>
        </ul><br><br>



      @foreach (var item in Model)

    {        
      <table class="table table-borderless">   
         <tr class="border-dark text-dark bg-warning mb-3">
           <th scope="col"> Auteur:  @ViewBag.Auteur <br>
                 Date de publication: @item.PublicationDate<br></th>
        
            <th scope="col">Commentaires</th>
            <th scope="col">Upvote</th>
            <th scope="col">DownVote</th>
            </tr>
        <tr>
            <td> <a href="/Home/Link?linkid=@item.Id&&userid=@item.UserId"><span class="d-inline-block text-truncate" style="max-width: 150px;">@item.Link</span></a> <br><br>
                     @item.Description<br><br>                
            </td>  
   
               
            <td>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
                </svg>      
 
                <i class="bi bi-chat-fill">@ViewBag.TotalComments</i>
                 
            </td>
            <td>
               @if(item.Upvote>=0){ 
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                            </svg>
                            <i class="bi bi-arrow-up-circle-fill">@item.Upvote</i>
                            
                            }else{@item.Upvote }
            </td>
            
            <td>
                @if(item.DownVote>=0){
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                            </svg>
                            <i class="bi bi-arrow-down-circle-fill">@item.DownVote</i>
                        }
                        else{
                            @item.DownVote
                        }
            </td>
       
        </tr>
    </table>
    

<form action="Link?linkid=@item.Id" method="post">
    <button type="submit" class="btn btn-primary" name="vot" value="UpVote"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
  <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
</svg> <i class="bi bi-hand-thumbs-up-fill">UpVote</i></button>

    <button type="submit" class="btn btn-primary" name="vot" value="DownVote"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
  <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.378 1.378 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51.136.02.285.037.443.051.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.896 1.896 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2.094 2.094 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.162 3.162 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.823 4.823 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591z"/>
</svg><i class="bi bi-hand-thumbs-down-fill">DownVote</i></button>
</form> <br><br>



<form action="/Home/AddCommentaire?userid=@ViewBag.Userid&&postid=@item.Id" method="post">
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Commentaire</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="description"></textarea>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Soumettre</button>
    </div>
</form> <br><br>
}
     @foreach(var i in ViewBag.comments){
        @foreach(var c in ViewBag.listUser){
                @if(i.UserId == c.Id){
                   <span class="font-weight-bold text-warning"> @c.UserName</span>;
                }
        } 
        <span class="font-weight-bold"> a publié a @i.PublicationDate <br>
        @i.Description</span><br><br>
     }
    
